<div class="jumbotron animated fadeIn fast responsive" id="jumbotronInicio">
    <h1 class="display-4" style="text-shadow: 0 0 10px black;">Acerca de CineApp</h1>
</div>
<div class="container animated fadeIn fast" style="margin-top: 50px;">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <p class="lead text-dark text-justify text-center">CineApp ha sido desarrollada por mí desde cero con Angular 9 y la API de The Movie Database, con la que extraigo toda la información de las películas: imágenes, títulos, sinopsis, tráilers, etc. <br><br> Esta es la segunda aplicación web
                    que desarrollo. Te invito a echarle un vistazo a mi otra aplicación sobre Dragon Ball disponible en mi GitHub:
                    <a href="https://github.com/Lithos-hub">
                        <img src="assets/img/github.png" width="150px" style="display:block; margin: auto; cursor: pointer; margin-top: 50px;">
                    </a>
                </p>
            </div>
        </div>
        <button [routerLink]="['/inicio']" class="btn btn-outline-info" type="button" style="margin: 0 auto; text-align: center; margin-top: 50px;">Volver al inicio</button>
    </div>



</div>