/* SIDENAV */

#sidenav {
    width: 100px;
    background-color: #282a36;
    position: fixed;
    bottom: 0px;
    top: 0px;
    text-align: center;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
}

#sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sidenav a:hover {
    color: #f1f1f1;
}

#sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-left: 50px;
}

#v-pills-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    opacity: 0;
}

.nav-link {
    color: #2bd1ff !important;
}

.nav-link:hover {
    color: white !important;
}

@media screen and (max-height: 600px) {
    .mySidenav {
        top: 0px;
        text-align: center;
    }
    .mySidenav a {
        font-size: 10px;
    }
}

#btnMenu {
    cursor: pointer;
    color: #2bd1ff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 25px;
    top: 50%;
    transform: rotate(90deg);
}

#btnInicio {
    cursor: pointer;
    color: #2bd1ff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 8%;
}

#btnMenu:hover {
    color: white;
    transition: 1s;
}

#btnInicio:hover {
    color: white;
    transition: 0.5s;
}

#btnInicio:focus {
    outline: 0;
}

#btnInfo {
    cursor: pointer;
    color: #2bd1ff;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8%;
}

#btnInfo:hover {
    color: white;
    transition: 0.5s;
}

#btnInfo:focus {
    outline: 0;
}


/* BODY */

body {
    background-color: #141215;
    height: auto;
}

#contenido {
    transition: margin-left .5s;
    margin-left: 80px;
    height: auto;
}


/* JUMBOTRONS */

#jumbotronInicio {
    background-color: #2f2d30;
    margin: 0 auto;
    height: 180px;
    width: auto;
    padding-top: 50px;
}

#jumbotronesapp {
    background-color: #2f2d30;
    margin-bottom: 40px;
}


/* INICIO */

#gridInicio {
    border-left: 1px solid #2bd1ff;
    padding: 20px;
    text-align: center;
}

#gridInicio:hover {
    border-bottom: 5px solid rgb(178, 243, 255);
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

#peliculasInicio {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 500px;
}

#peliculasInicio:hover {
    filter: sepia(100%);
    transition: 0.5s;
    cursor: pointer;
}


/* NOVEDADES */

#imagenNovedades {
    width: 600px;
    height: 500px;
    border: 2px solid;
    background-size: cover;
    background-position: center;
}

#imagenNovedades:hover {
    filter: sepia(100%);
    transition: 0.5s;
    cursor: pointer;
}


/* POR GÉNERO */

#columnaGeneros {
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-bottom: 15px;
    padding-top: 15px;
    cursor: pointer;
}

#columnaGeneros:hover,
#columnaGeneros:focus {
    display: block;
    color: white !important;
    box-shadow: 0 0 5px white, 0 0 15px #6fdcfa, 0 0 30px white;
    transition: 1s;
}

.dropdown-item {
    display: block;
    font-weight: 200;
    font-size: 20px;
    margin: 0 auto;
    background-color: #141215;
    color: #2bd1ff;
    border: none;
    border-top: 1px solid #2bd1ff;
}

.dropdown-item:hover,
#imagenGeneros:hover {
    background-color: #29272b;
    color: #2bd1ff;
    transition: 1s;
    cursor: pointer;
}

.dropdown-menu {
    margin: 0 auto;
    text-align: center;
    border: none;
}

#imagenGeneros {
    height: 200px;
    width: auto;
    float: right;
    margin: 0 auto;
}

#itemGeneros {
    height: 200px;
    text-align: left;
}


/* RANKING */

#gridRanking {
    padding: 20px;
    text-align: center;
}

#gridRanking:hover {
    border-bottom: 5px solid rgb(178, 243, 255);
    transition: 0.3s;
    color: white;
    cursor: pointer;
}

#columnaRanking {
    margin: 0 auto;
    padding-bottom: 15px;
    padding-top: 15px;
}

#columnaRanking:hover {
    box-shadow: 0 0 5px white, 0 0 15px #6fdcfa, 0 0 30px white;
    transition: 1s;
}


/* ELEMENTOS GENERALES */

hr {
    background-color: #2bd1ff;
    box-shadow: 0 0 5px white, 0 0 15px #c9f3ff;
}

h1 {
    color: #2bd1ff !important;
}

.display-4 {
    font-size: 30px;
    letter-spacing: 8px;
}

.display-3 {
    font-size: 60px;
    letter-spacing: 8px;
}

a:hover {
    text-decoration: none;
}


/* ANIMACIONES */

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeIn {
    animation-name: fadeIn;
}


/* BARRA SCROLL */

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #212022;
    border: 5px solid #2bd1ff;
    width: 10;
}

::-webkit-scrollbar-thumb {
    background: #141215;
    height: 100px;
    border-radius: 15px
}

::-webkit-scrollbar-thumb:hover {
    background: #334051;
}